{% extends 'app/base_site.html' %}
{% load  static %}

{% block content %}
    <div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
        <div class="box">
        <div class="box-header">
          <h3 class="box-title">Customers List</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Firm Name</th>
              <th class="text-center">Name</th>
              <th class="text-center">Address</th>
              <th class="text-center">Phone Number</th>
              <th class="text-center" style="width: 136px;">#</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                  <td>{% if customer.firm_name == '' %}Unknown
                      {% else %} {{ customer.firm_name }}
                      {% endif %}
                  </td>
                  <td class="text-center">{% if customer.name == '' %}Unknown
                      {% else %} {{ customer.name }}
                      {% endif %}
                  </td>
                  <td class="text-center">{% if customer.address == '' %}Unknown
                      {% else %} {{ customer.address }}
                      {% endif %}
                  </td>
                  <td class="text-center">{% if customer.primary_num == 0 %}Unknown
                      {% else %} {{ customer.primary_num }}
                      {% endif %}
                  </td>
                  <td class="text-right"><a href="{% url 'customer:customer-details' customer.id %}" class="button btn btn-success">Info</a> / <a href="{% url 'customer:customer-records' customer.id %}" class="button btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer">
            <h4>
            {% if customers.has_previous %}
                <a href="?page={{ customers.previous_page_number }}">< Prev</a> |
            {% endif %}

            {% if customers.has_next %}
                <a href="?page={{ customers.next_page_number }}">Next ></a>
            {% endif %}

            <span>Page {{ customers.number }} of {{ customers.paginator.num_pages }}</span>
            </h4>
        </div>
        </div>

        </div>
        </div>
    </div>
    </div>
{% endblock %}