{% extends 'app/base_site.html' %}
{% load humanize %}

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Transaction Details of <span style="margin-left: 4px;">{{ customer }}</span></h3>
            </div>
                <div class="content-header">
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ total_sale }}</h3>

                              <p>Total Sale</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-social-usd"></i>
                            </div>
                          </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-green">
                            <div class="inner">
                              <h3>{{joined|date:'M-yy'}}</h3>

                              <p>Journey Joined</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-ios-calendar"></i>
                            </div>
                          </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-yellow">
                            <div class="inner">
                              <h3>{{ current_balance }}</h3>

                              <p>Current Balance</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-cash"></i>
                            </div>
                          </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <h3>{{ visits }}</h3>

                              <p>Total Visits</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-android-walk"></i>
                            </div>
                          </div>
                        </div>
                        <!-- ./col -->
                      </div>
                </div>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Date</th>
                  <th class="text-center">Sub Total</th>
                  <th class="text-center">Invoice Amount</th>
                  <th class="text-center">Amount Paid</th>
                  <th class="text-center">Current Balance</th>
                  <th class="text-center" style="width: 136px;">#</th>
                </tr>
                </thead>
                <tbody>
                {% for i in invoice %}
                    <tr>
                      <td>{{ i.date|date:"d-M-yy" }}</td>
                      <td class="text-center">{{ i.sub_total|intcomma }}</td>
                      <td class="text-center">{{ i.total_amount|intcomma }}</td>
                      <td class="text-center">{{ i.amount_paid|intcomma }}</td>
                      <td class="text-center">{{ i.current_bal|intcomma }} {% if i.current_bal < 0 %}(CR.){% else %}(DR.){% endif %}</td>
                      <td class="text-center"><a href="{% url 'customer:record-view' i.id %}" class="button btn btn-success">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="box-footer">
                <h4>
                {% if invoice.has_previous %}
                    <a href="?page={{ invoice.previous_page_number }}">< Prev</a> |
                {% endif %}

                {% if invoice.has_next %}
                    <a href="?page={{ invoice.next_page_number }}">Next ></a>
                {% endif %}

                <span>Page {{ invoice.number }} of {{ invoice.paginator.num_pages }}</span>
                </h4>
            </div>
            </div>

            </div>
            </div>
        </div>
    </div>
{% endblock %}