{% extends 'app/base_site.html' %}
{% block content %}
    <div class="content-wrapper invoice-body">

    <section class="content-header">
      <h1>
        Metro Motors Inc.
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h1 class="box-title col-sm-2" style="margin-top: 7px;">Buyer Name</h1>
                <div class="col-sm-4">
                    <p class="header" style="margin-top: 7px; font-weight: bold">{{ invoice.customer_name }}</p>
                </div>
                <h1 class="box-title col-sm-1" style="margin-top: 7px;">Date</h1>
                <div class="col-sm-4">
                    <p class="header" style="margin-top: 7px; font-weight: bold">{{ invoice.date|date:"d-M-yy" }}</p>
                </div>
            </div>

          <div class="col-xs-12 box-header" id="customer_details">
              <h1 class="box-title col-sm-2" style="margin-top: 7px;">Address</h1>
              <div class="col-sm-4">
                  <p class="header" style="margin-top: 7px; font-weight: bold">{{ invoice.customer_address }}</p>
              </div>
              <h1 class="box-title col-sm-1" style="margin-top: 7px;">Phone</h1>
              <div class="col-sm-4">
                  <p class="header" style="margin-top: 7px; font-weight: bold">{{ invoice.phone }}</p>
              </div>
          </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="text-center" style='width:5px;'>#</th>
                  <th style='width:250px;'>Product</th>
                  <th style='width:20px;'>Price</th>
                  <th style='width:20px;'>Quantity</th>
                  <th style='width:20px;'>Discount Percentage </th>
                  <th class='text-center' style='width:40px;'>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for i in items %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ i.item_name}} <span style="margin-left: 9px;">{{i.item_mrp}}/=</span></td>
                        <td>{{ i.item_sp }}</td>
                        <td>{{ i.item_quantity }}</td>
                        <td>{{ i.item_discount }}</td>
                        <td class="text-center">{{ i.item_total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6 pull-right">
          <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Grand Total</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Sub Total</th>
                  <th class="text-center"><p>{{ invoice.sub_total }}</p></th>
                </tr>
                <tr>
                  <th>Last Balance</th>
                  <th class="text-center"><p>{{ invoice.last_bal}}</p></th>
                </tr>
                <tr>
                  <th>Packaging & Forwarding</th>
                    <th class="text-center"><p>{{ invoice.p_and_f }}</p></th>
                </tr>
                <tr>
                  <th>Round Off</th>
                    <th class="text-center"><p>{{ invoice.round_off }}</p></th>
                </tr>
                <tr>
                    <th>Total Amount</th>
                    <th class="text-center"><p>{{ invoice.total_amount }}</p></th>
                </tr>
                <tr>
                  <th>Amount Paid</th>
                  <th class="text-center"><p>{{ invoice.amount_paid }}</p></th>
                </tr>
                <tr>
                  <th>Current Balance</th>
                  <th class="text-center"><p>{{ invoice.current_bal }}</p></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
    </section>
  </div>
{% endblock %}