body  {
    font-family: 'Raleway', sans-serif;
}
.search-body {
    background-image: url("../img/search-bg.jpg");
    background-repeat: no-repeat;
    background-size: 78em 42em;
}

.heading {
    text-align: center;
    margin-top: 33px;
}
.heading h1 {
    color: #ffffff;
}
.search-box {
    background-color: #DAF7A6;
    border-radius: 25px;
    width: 20cm;
    height: 2cm;
    /*position: fixed;*/
    /*top: 188px;*/
    /*left: 371px;*/
    display: flex;
    margin: 0 auto;
}
.based {
    font-weight: 600;
    /*position: relative;*/
    /*left: 18px;*/
    /*top: 40%;*/
    /*width: 124px;*/
    flex: 20%;
    height: 28px;
    margin-top: 28px;
    margin-left: 10px;
}
.criteria {
    /*position: relative;*/
    /*top: 1%;*/
    /*left: 146px;*/
    /*width: 103px;*/
    flex: 20%;
}
.criteria select {
    margin-top: 20px;
    width: 108px;
}
.value-field{
    /*position: relative;*/
    /*top: -33px;*/
    /*left: 267px;*/
    /*width: 291px;*/
    flex: 40%;
}
.send-button button {
    margin-top: 20px;
    margin-left: 43px;
}
.value-field input{
    margin-top: 20px;
}
.send-button {
    /*position: relative;*/
    /*top: -67px;*/
    /*left: 654px;*/
    flex: 20%;
}
.invoice-body {
    background-image: url("../img/invoice-bg.jpg");
    background-repeat: no-repeat;
    background-size: 78em 62em;
}
.box-success {
    background-color: #DAF7A6;
    border-radius: 25px;
}