body  {
    font-family: 'Raleway', sans-serif;
}
.search-body {
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(6,78,166,1) 57%, rgba(5,100,180,1) 64%, rgba(5,109,186,1) 67%, rgba(0,212,255,1) 100%);*/
    background-color: #019EED;
}

.heading {
    text-align: center;
    margin-top: 33px;
}
.heading h1 {
    color: #ffffff;
}
.search-box {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 20cm;
    height: 2cm;
    display: flex;
    margin: 0 auto;
}
.based {
    font-weight: 600;
    flex: 17%;
    height: 28px;
    margin-top: 28px;
    margin-left: 10px;
}
.criteria {
    flex: 26%;
}
.criteria select {
    margin-top: 20px;
    width: 180px;
}
.value-field{
    flex: 43%;
}
.send-button button {
    margin-top: 20px;
    margin-left: 43px;
}
.value-field input{
    margin-top: 20px;
}
.send-button {
    flex: 17%;
}
.send-button button{
    margin-left: 25px;
}
.invoice-body {
    background-image: url("../img/invoice-bg.jpg");
    background-repeat: no-repeat;
    background-size: 78em 62em;
}
.box-success {
    background-color: #DAF7A6;
    border-radius: 25px;
}

.btn-get {
    width: 75%;
}