{% extends 'app/base_site.html' %}

{% block content %}
  <div class="content-wrapper invoice-body">

    <section class="content-header">
      <h1>
        Metro Motors Inc.
        <small>create bill for customer</small>
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h1 class="box-title col-sm-3" style="margin-top: 7px;">Customer Type</h1>
                <div class="col-sm-6 checkbox">
                   <label>
                   <input type="checkbox" id="retail" checked value="retail">
                   <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                   Retail
                   </label>
                   <label>
                   <input type="checkbox" id="existing" value="existing">
                   <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                   Existing
                   </label>
                   <label>
                   <input type="checkbox" id="create_new" value="create_new">
                   <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                   Create New
                   </label>
                </div>
            </div>
            <div class="box-header">
              <h1 class="box-title col-sm-2" style="margin-top: 7px;">Buyer Name</h1>
                {% csrf_token %}
                <div class="col-sm-5">
                    <input type="text" id="name" class="form-control">
                    <div class="select2-div">
                        <select class="form-control" id="existing_customer" onchange="changeExistingCust(this)">
                        <option value="" disabled selected>SELECT AN EXISTING CUSTOMER</option>
                        {% for customer in customers %}
                        <option value="{{ customer.id }}">{{ customer.firm_name }} --- {{ customer.name }}, {{ customer.address }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <h1 class="box-title col-sm-1" style="margin-top: 7px;">Date</h1>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="date">
                </div>
            </div>

          <div class="col-xs-12 box-header" id="customer_details">
              <h1 class="box-title col-sm-2" style="margin-top: 7px;">Address</h1>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="address">
              </div>
              <h1 class="box-title col-sm-1" style="margin-top: 7px;">Phone</h1>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="phone">
              </div>
          </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length">
                            <label>Total Items
                                <select name="total_items" id="total_items" onchange="addMultipleRows()" aria-controls="example1" class="form-control input-sm">
                                <option value="0">0</option>
                                {% for r in range %}
                                    <option value="{{ r }}">{{ r }}</option>
                                {% endfor %}
                            </select></label>
                        </div>
                    </div>
                </div>
              <div class="box-body">
                  <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th class="text-center" style='width:5px;'>#</th>
                  <th style='width:250px;'>Product</th>
                  <th style='width:20px;'>MRP</th>
                  <th style='width:20px;'>Quantity</th>
                  <th style='width:20px;'>Discount</th>
                  <th class='text-center' style='width:40px;'>Total</th>
                  <th class='text-center' style='width:20px;'>#</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
              </table>
              </div>
            <div class="text-center" style="margin-top: 5px;">
                <button class="btn btn-success" onclick="addOneRow()">+</button>
            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
{#        <div class="col-xs-12">#}
{#            <div class="box box-success">#}
{#                <div class="box-header">#}
{#                    <h3>Return Items</h3>#}
{#                </div>#}
{#            <div class="box-body">#}
{#                <table class="table table-bordered table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                  <th class="text-center" style='width:5px;'>#</th>#}
{#                  <th style='width:250px;'>Product</th>#}
{#                  <th style='width:20px;'>MRP</th>#}
{#                  <th style='width:20px;'>Quantity</th>#}
{#                  <th style='width:20px;'>Discount</th>#}
{#                  <th class='text-center' style='width:40px;'>Total</th>#}
{#                  <th class='text-center' style='width:20px;'>#</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody id="body-return">#}
{#                    <tr>#}
{#                        <td id="return_it_1">1</td>#}
{#                        <td><input type="name" class="form-control" id="return_name_1"></td>#}
{#                        <td><input type="number" class="form-control" id="return_mrp"></td>#}
{#                        <td><input type="number" class="form-control" id="return_quantity" value="1"></td>#}
{#                        <td><input type="number" class="form-control" id="return_discount"></td>#}
{#                        <td class='text-center' style='padding-top:15px'><b><span id='return_total_1'></span></b></td>#}
{#                        <td class="text-center">#}
{#                            <a class='btn' id="1" onclick='clearReturnData(this.id)'><i class='fa fa-clear'></i>x</a>#}
{#                        </td>#}
{#                    </tr>#}
{#                </tbody>#}
{#               </table>#}
{#            </div>#}
{#            <div class="text-center" style="margin-top: 5px;">#}
{#                <button class="btn btn-success" onclick="addOneReturnRow()">+</button>#}
{#            </div>#}
{#        </div>#}
{#        </div>#}
        <div class="col-md-6 pull-right">
          <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Grand Total</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Sub Total</th>
                  <th style="width: 100px;" class="text-center"><span id="sub_total"></span></th>
                </tr>
                <tr>
                  <th>Last Balance</th>
                  <th class="col-xs-3"><input type="number" value=0 class="form-control" id="last_balance" onkeyup="calculateGrandTotal()"></th>
                </tr>
                <tr>
                  <th>Packaging & Forwarding</th>
                  <th><input type="number" value=0 class="form-control" id="p_and_f" onkeyup="calculateGrandTotal()"></th>
                </tr>
                <tr>
                  <th>Round Off</th>
                  <th><input type="number" value=0 class="form-control" id="round_off" onkeyup="calculateGrandTotal()"></th>
                </tr>
                <tr>
                  <th>Total Amount</th>
                  <th class="text-center"><span id="total_amount"></span></th>
                </tr>
                <tr>
                  <th>Amount Paid</th>
                  <th><input type="number" class="form-control" id="amount_paid" value="0" onkeyup="calculateGrandTotal()"></th>
                </tr>
                <tr>
                  <th>Current Balance</th>
                  <th class="text-center"><span id="current_balance"></span></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
      <!-- /.row -->
    <div class="col text-center">
        <button type="button" id="save" class="btn btn-primary" data-toggle="modal" data-target="#modal-default" style="width: 100px;">Save & Print</button>
    </div>

    <!-- Modal starts from here!!!!!!!!!!!!!!!!!! -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirmation Required!</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to save the details in records and print the bill for customer?</p>
            <p class="col-sm-3">Balance Bill</p>
            <input id="balance_bill" class="col-sm-1" type="checkbox">
            <p class="col-sm-4">Mode of Payment</p>
            <select id="payment_mode" class="col-sm-3">
                <option value="cash">Cash</option>
                <option value="mpay">MPay</option>
                <option value="cheque">Cheque</option>
                <option value="other">Other</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveInvoice()" data-dismiss="modal">Yes! Save changes</button>
            <a href="print-invoice.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
    <script src="{{ STATIC_URL }}js/invoice.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/invoice.css">

{% endblock %}